apiVersion: v1
kind: Service
metadata:
  name: platformsnpservice-srv
spec:
  type: NodePort
  selector:
    app: platformservice
  ports:
    - name: http
      protocol: TCP
      port: 8080
      targetPort: 8080
